<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.storyhasyou.odin.driver.mapper.DriverMapper">
    <resultMap id="BaseResultMap" type="com.storyhasyou.odin.driver.pojo.entity.Driver">
        <!--@mbg.generated-->
        <!--@Table tb_driver-->
        <id column="id" property="id"/>
        <result column="open_id" property="openId"/>
        <result column="nickname" property="nickname"/>
        <result column="name" property="name"/>
        <result column="sex" property="sex"/>
        <result column="photo" property="photo"/>
        <result column="pid" property="pid"/>
        <result column="birthday" property="birthday"/>
        <result column="tel" property="tel"/>
        <result column="email" property="email"/>
        <result column="mail_address" property="mailAddress"/>
        <result column="contact_name" property="contactName"/>
        <result column="contact_tel" property="contactTel"/>
        <result column="real_auth" property="realAuth"/>
        <result column="idcard_address" property="idcardAddress"/>
        <result column="idcard_expiration" property="idcardExpiration"/>
        <result column="idcard_front" property="idcardFront"/>
        <result column="idcard_back" property="idcardBack"/>
        <result column="idcard_holding" property="idcardHolding"/>
        <result column="drcard_type" property="drcardType"/>
        <result column="drcard_expiration" property="drcardExpiration"/>
        <result column="drcard_issue_date" property="drcardIssueDate"/>
        <result column="drcard_front" property="drcardFront"/>
        <result column="drcard_back" property="drcardBack"/>
        <result column="drcard_holding" property="drcardHolding"/>
        <result column="home" property="home"/>
        <result column="summary" property="summary"/>
        <result column="archive" property="archive"/>
        <result column="status" property="status"/>
        <result column="create_time" property="createTime"/>
        <result column="update_time" property="updateTime"/>
    </resultMap>
    <sql id="Base_Column_List">
        <!--@mbg.generated-->
        id,
        open_id,
        nickname,
        `name`,
        sex,
        photo,
        pid,
        birthday,
        tel,
        email,
        mail_address,
        contact_name,
        contact_tel,
        real_auth,
        idcard_address,
        idcard_expiration,
        idcard_front,
        idcard_back,
        idcard_holding,
        drcard_type,
        drcard_expiration,
        drcard_issue_date,
        drcard_front,
        drcard_back,
        drcard_holding,
        home,
        summary,
        archive,
        `status`,
        create_time,
        update_time
    </sql>
    <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
        <!--@mbg.generated-->
        select
        <include refid="Base_Column_List"/>
        from tb_driver
        where id = #{id}
    </select>
    <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
        <!--@mbg.generated-->
        delete
        from tb_driver
        where id = #{id}
    </delete>
    <insert id="insertSelective" parameterType="com.storyhasyou.odin.driver.pojo.entity.Driver">
        <!--@mbg.generated-->
        insert into tb_driver
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">
                id,
            </if>
            <if test="openId != null and openId != ''">
                open_id,
            </if>
            <if test="nickname != null and nickname != ''">
                nickname,
            </if>
            <if test="name != null and name != ''">
                `name`,
            </if>
            <if test="sex != null and sex != ''">
                sex,
            </if>
            <if test="photo != null and photo != ''">
                photo,
            </if>
            <if test="pid != null and pid != ''">
                pid,
            </if>
            <if test="birthday != null">
                birthday,
            </if>
            <if test="tel != null and tel != ''">
                tel,
            </if>
            <if test="email != null and email != ''">
                email,
            </if>
            <if test="mailAddress != null and mailAddress != ''">
                mail_address,
            </if>
            <if test="contactName != null and contactName != ''">
                contact_name,
            </if>
            <if test="contactTel != null and contactTel != ''">
                contact_tel,
            </if>
            <if test="realAuth != null">
                real_auth,
            </if>
            <if test="idcardAddress != null and idcardAddress != ''">
                idcard_address,
            </if>
            <if test="idcardExpiration != null">
                idcard_expiration,
            </if>
            <if test="idcardFront != null and idcardFront != ''">
                idcard_front,
            </if>
            <if test="idcardBack != null and idcardBack != ''">
                idcard_back,
            </if>
            <if test="idcardHolding != null and idcardHolding != ''">
                idcard_holding,
            </if>
            <if test="drcardType != null and drcardType != ''">
                drcard_type,
            </if>
            <if test="drcardExpiration != null">
                drcard_expiration,
            </if>
            <if test="drcardIssueDate != null">
                drcard_issue_date,
            </if>
            <if test="drcardFront != null and drcardFront != ''">
                drcard_front,
            </if>
            <if test="drcardBack != null and drcardBack != ''">
                drcard_back,
            </if>
            <if test="drcardHolding != null and drcardHolding != ''">
                drcard_holding,
            </if>
            <if test="home != null and home != ''">
                home,
            </if>
            <if test="summary != null and summary != ''">
                summary,
            </if>
            <if test="archive != null">
                archive,
            </if>
            <if test="status != null">
                `status`,
            </if>
            <if test="createTime != null">
                create_time,
            </if>
            <if test="updateTime != null">
                update_time,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null">
                #{id},
            </if>
            <if test="openId != null and openId != ''">
                #{openId},
            </if>
            <if test="nickname != null and nickname != ''">
                #{nickname},
            </if>
            <if test="name != null and name != ''">
                #{name},
            </if>
            <if test="sex != null and sex != ''">
                #{sex},
            </if>
            <if test="photo != null and photo != ''">
                #{photo},
            </if>
            <if test="pid != null and pid != ''">
                #{pid},
            </if>
            <if test="birthday != null">
                #{birthday},
            </if>
            <if test="tel != null and tel != ''">
                #{tel},
            </if>
            <if test="email != null and email != ''">
                #{email},
            </if>
            <if test="mailAddress != null and mailAddress != ''">
                #{mailAddress},
            </if>
            <if test="contactName != null and contactName != ''">
                #{contactName},
            </if>
            <if test="contactTel != null and contactTel != ''">
                #{contactTel},
            </if>
            <if test="realAuth != null">
                #{realAuth},
            </if>
            <if test="idcardAddress != null and idcardAddress != ''">
                #{idcardAddress},
            </if>
            <if test="idcardExpiration != null">
                #{idcardExpiration},
            </if>
            <if test="idcardFront != null and idcardFront != ''">
                #{idcardFront},
            </if>
            <if test="idcardBack != null and idcardBack != ''">
                #{idcardBack},
            </if>
            <if test="idcardHolding != null and idcardHolding != ''">
                #{idcardHolding},
            </if>
            <if test="drcardType != null and drcardType != ''">
                #{drcardType},
            </if>
            <if test="drcardExpiration != null">
                #{drcardExpiration},
            </if>
            <if test="drcardIssueDate != null">
                #{drcardIssueDate},
            </if>
            <if test="drcardFront != null and drcardFront != ''">
                #{drcardFront},
            </if>
            <if test="drcardBack != null and drcardBack != ''">
                #{drcardBack},
            </if>
            <if test="drcardHolding != null and drcardHolding != ''">
                #{drcardHolding},
            </if>
            <if test="home != null and home != ''">
                #{home},
            </if>
            <if test="summary != null and summary != ''">
                #{summary},
            </if>
            <if test="archive != null">
                #{archive},
            </if>
            <if test="status != null">
                #{status},
            </if>
            <if test="createTime != null">
                #{createTime},
            </if>
            <if test="updateTime != null">
                #{updateTime},
            </if>
        </trim>
    </insert>

    <update id="updateByPrimaryKeySelective" parameterType="com.storyhasyou.odin.driver.pojo.entity.Driver">
        <!--@mbg.generated-->
        update tb_driver
        <set>
            <if test="openId != null and openId != ''">
                open_id = #{openId},
            </if>
            <if test="nickname != null and nickname != ''">
                nickname = #{nickname},
            </if>
            <if test="name != null and name != ''">
                `name` = #{name},
            </if>
            <if test="sex != null and sex != ''">
                sex = #{sex},
            </if>
            <if test="photo != null and photo != ''">
                photo = #{photo},
            </if>
            <if test="pid != null and pid != ''">
                pid = #{pid},
            </if>
            <if test="birthday != null">
                birthday = #{birthday},
            </if>
            <if test="tel != null and tel != ''">
                tel = #{tel},
            </if>
            <if test="email != null and email != ''">
                email = #{email},
            </if>
            <if test="mailAddress != null and mailAddress != ''">
                mail_address = #{mailAddress},
            </if>
            <if test="contactName != null and contactName != ''">
                contact_name = #{contactName},
            </if>
            <if test="contactTel != null and contactTel != ''">
                contact_tel = #{contactTel},
            </if>
            <if test="realAuth != null">
                real_auth = #{realAuth},
            </if>
            <if test="idcardAddress != null and idcardAddress != ''">
                idcard_address = #{idcardAddress},
            </if>
            <if test="idcardExpiration != null">
                idcard_expiration = #{idcardExpiration},
            </if>
            <if test="idcardFront != null and idcardFront != ''">
                idcard_front = #{idcardFront},
            </if>
            <if test="idcardBack != null and idcardBack != ''">
                idcard_back = #{idcardBack},
            </if>
            <if test="idcardHolding != null and idcardHolding != ''">
                idcard_holding = #{idcardHolding},
            </if>
            <if test="drcardType != null and drcardType != ''">
                drcard_type = #{drcardType},
            </if>
            <if test="drcardExpiration != null">
                drcard_expiration = #{drcardExpiration},
            </if>
            <if test="drcardIssueDate != null">
                drcard_issue_date = #{drcardIssueDate},
            </if>
            <if test="drcardFront != null and drcardFront != ''">
                drcard_front = #{drcardFront},
            </if>
            <if test="drcardBack != null and drcardBack != ''">
                drcard_back = #{drcardBack},
            </if>
            <if test="drcardHolding != null and drcardHolding != ''">
                drcard_holding = #{drcardHolding},
            </if>
            <if test="home != null and home != ''">
                home = #{home},
            </if>
            <if test="summary != null and summary != ''">
                summary = #{summary},
            </if>
            <if test="archive != null">
                archive = #{archive},
            </if>
            <if test="status != null">
                `status` = #{status},
            </if>
            <if test="createTime != null">
                create_time = #{createTime},
            </if>
            <if test="updateTime != null">
                update_time = #{updateTime},
            </if>
        </set>
        where id = #{id}
    </update>

    <select id="existsByOpenId" resultType="boolean">
        select exists(select 1 from tb_driver where open_id = #{openId})
    </select>

    <select id="selectByOpenId" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from tb_driver
        where open_id = #{openId}
    </select>

</mapper>
