<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.storyhasyou.odin.driver.mapper.DriverFineMapper">
  <resultMap id="BaseResultMap" type="com.storyhasyou.odin.driver.entity.DriverFine">
    <!--@mbg.generated-->
    <!--@Table tb_driver_fine-->
    <id column="id" property="id" />
    <result column="driver_id" property="driverId" />
    <result column="order_id" property="orderId" />
    <result column="amount" property="amount" />
    <result column="remark" property="remark" />
    <result column="status" property="status" />
    <result column="create_time" property="createTime" />
    <result column="update_time" property="updateTime" />
  </resultMap>
  <sql id="Base_Column_List">
    <!--@mbg.generated-->
    id, driver_id, order_id, amount, remark, `status`, create_time, update_time
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    <!--@mbg.generated-->
    select 
    <include refid="Base_Column_List" />
    from tb_driver_fine
    where id = #{id}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    <!--@mbg.generated-->
    delete from tb_driver_fine
    where id = #{id}
  </delete>
  <insert id="insertSelective" parameterType="com.storyhasyou.odin.driver.entity.DriverFine">
    <!--@mbg.generated-->
    insert into tb_driver_fine
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="driverId != null">
        driver_id,
      </if>
      <if test="orderId != null">
        order_id,
      </if>
      <if test="amount != null">
        amount,
      </if>
      <if test="remark != null and remark != ''">
        remark,
      </if>
      <if test="status != null">
        `status`,
      </if>
      <if test="createTime != null">
        create_time,
      </if>
      <if test="updateTime != null">
        update_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id},
      </if>
      <if test="driverId != null">
        #{driverId},
      </if>
      <if test="orderId != null">
        #{orderId},
      </if>
      <if test="amount != null">
        #{amount},
      </if>
      <if test="remark != null and remark != ''">
        #{remark},
      </if>
      <if test="status != null">
        #{status},
      </if>
      <if test="createTime != null">
        #{createTime},
      </if>
      <if test="updateTime != null">
        #{updateTime},
      </if>
    </trim>
  </insert>
</mapper>