<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.storyhasyou.odin.driver.mapper.WalletIncomeMapper">
  <resultMap id="BaseResultMap" type="com.storyhasyou.odin.driver.pojo.entity.WalletIncome">
    <!--@mbg.generated-->
    <!--@Table tb_wallet_income-->
    <id column="id" property="id" />
    <result column="uuid" property="uuid" />
    <result column="driver_id" property="driverId" />
    <result column="amount" property="amount" />
    <result column="type" property="type" />
    <result column="prepay_id" property="prepayId" />
    <result column="status" property="status" />
    <result column="remark" property="remark" />
    <result column="create_time" property="createTime" />
    <result column="update_time" property="updateTime" />
  </resultMap>
  <sql id="Base_Column_List">
    <!--@mbg.generated-->
    id, uuid, driver_id, amount, `type`, prepay_id, `status`, remark, create_time, update_time
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    <!--@mbg.generated-->
    select 
    <include refid="Base_Column_List" />
    from tb_wallet_income
    where id = #{id}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    <!--@mbg.generated-->
    delete from tb_wallet_income
    where id = #{id}
  </delete>
  <insert id="insertSelective" parameterType="com.storyhasyou.odin.driver.pojo.entity.WalletIncome">
    <!--@mbg.generated-->
    insert into tb_wallet_income
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="uuid != null and uuid != ''">
        uuid,
      </if>
      <if test="driverId != null">
        driver_id,
      </if>
      <if test="amount != null">
        amount,
      </if>
      <if test="type != null">
        `type`,
      </if>
      <if test="prepayId != null and prepayId != ''">
        prepay_id,
      </if>
      <if test="status != null">
        `status`,
      </if>
      <if test="remark != null and remark != ''">
        remark,
      </if>
      <if test="createTime != null">
        create_time,
      </if>
      <if test="updateTime != null">
        update_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id},
      </if>
      <if test="uuid != null and uuid != ''">
        #{uuid},
      </if>
      <if test="driverId != null">
        #{driverId},
      </if>
      <if test="amount != null">
        #{amount},
      </if>
      <if test="type != null">
        #{type},
      </if>
      <if test="prepayId != null and prepayId != ''">
        #{prepayId},
      </if>
      <if test="status != null">
        #{status},
      </if>
      <if test="remark != null and remark != ''">
        #{remark},
      </if>
      <if test="createTime != null">
        #{createTime},
      </if>
      <if test="updateTime != null">
        #{updateTime},
      </if>
    </trim>
  </insert>
</mapper>
